import sammy as sm

sam = sm.SAM(Description='{{app_description}}',render_type='yaml')

sam.add_parameter(sm.Parameter(name='Bucket',Type='String'))

sam.add_parameter(sm.Parameter(name='CodeZipKey',Type='String'))

sam.add_parameter(sm.Parameter(name='AppStageRegion',Type='String'))

api_event = sm.APIEvent(name=sm.Ref(Ref='AppStageRegion'),Path='{proxy+}',Method='get')

f = sm.Function(
    name=sm.Ref(Ref='AppStageRegion'),
    CodeUri=sm.S3URI(
        Bucket=sm.Ref(Ref='Bucket'), Key=sm.Ref(Ref='CodeZipKey')),
    Handler='{{app_name}}.app',
    Runtime='python3.6',
    Events=[]
)

sam.add_resource(f)