body {
    background-color: #2a2d33;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

code {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-weight: 300;
    border-radius: 5px;
    box-shadow: #ccc 1px 1px;
}
pre {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: #ccc 1px 1px;
    display: block;
    width: 80%;
}
pre code {
    background-color:rgba(0, 0, 0, 0);
    border-radius: 0;
    box-shadow: none;

    display: block;
}
section {
    margin: 0;
    padding: 10px 0 20px;
    border-bottom: 1px solid #ccc;
}

nav {
    float: left;
    position: absolute;
    width: 16%;
    height: 100%;
    padding: 0;
    color:#9c9c9f;

}

nav h2, nav h3 {
    padding: 0 20px;
}
nav h3 {
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    margin: 0;
    padding:0;
}

nav ul li {
    padding:10px 0 10px 30px;
}

nav ul li:hover {
    background-color: #656c7e;
    color: #fff;
}
nav a {
    color: #9c9c9f;
}
nav ul li:hover a {
    text-decoration: none;
    color:#fff;
}

div#content {
    float: right;
    width: 84%;
    background-color: #f5f5f5;

}

div#content section, div#content div#navbar {
    padding-left: 20px;
}

div#navbar {
    background-color: #fff;
    box-shadow: #c1c1c1 0px 0px 10px 0px;
    margin: 0px;
    padding: 23px 0 0 20px;
    height: 64px;
}
div#navbar h1 {
    margin:0;
    padding:0;
}

h2#toc-header {
    font-weight: normal;
    font-size: 3em;
    margin: 0;
    padding: 0px 0 20px 20px;
    font-family: 'Paytone One', sans-serif;
    text-transform: lowercase;
    color: #fff;
    background-color: #51d2b7;
    box-shadow: -20px 0px 10px 0px #000;
}

@media (min-width: 1441px) {

}